<!DOCTYPE html>
<html>
  <head>
    <title>ApressApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div><%= link_to 'На главную', root_path, id: 'root-page-link' %></div>
    <%= yield %>
  </body>
</html>
